<script src="{{url_for('static', filename='form_complete.js')}}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="data_row">{{ label }}

{% include "assertion_resource.html" ignore missing  %}

  <div class="datum">
    <form action="/user_input" accept-charset="UTF-8" style="margin-top:-4px; display:flex; width:600px;" method="POST"><input name="utf8" type="hidden" value="&#x2713;" />
      <input type="text" style="height: 30px; " name="single_resource_input" id="query" data-bp_include_definitions="true" data-bp_search_branch="{{ container_node.get('input_restricted_to_subclasses_of') }}" class="bp_form_complete-{{ container_node.get('ontology_ID') }}-name" size="40" placeholder="{{ container_node.get('placeholder_text') }}" />
      <div class='input-group-append'>
        <input type="hidden" name="single_resource_input_parent_uri" value="{{ topic_uri }}">
        <input type="hidden" name="single_resource_input_parent_item_type" value="{{ child.get('node_type') }}">
        <input type="hidden" name="single_resource_input_entry_uri" value="{{ entry_dict[0].get('id') }}">
        <input type="hidden" name="single_resource_input_topic_uri" value="{{ topic_uri }}">
        <input type="hidden" name="single_resource_input_assertion_uri" value=None>
        <input type="hidden" name="single_resource_input_kgbb_uri" value="{{ container_node.get('target_KGBB_URI') }}">
        <input type="hidden" name="single_resource_input_input_result" value="{{ container_node.get('input_results_in') }}">
        <input type="hidden" name="single_resource_input_query_key" value="{{ container_node.get('query_key') }}">
        <input type="hidden" name="single_resource_input_deleted_item_uri" value=None>
        <button name="button" style="height: 30px; padding-top: 3px" type="submit" class="btn btn-primary" aria-label="Search for a class"><i aria-hidden='true' style="font-size: 12px;" class='fas fa-lg'></i> add
        </button>
      </div>
    </form>
  </div>
</div>
