<div id="{{id  | replace('-', '_')}}overlayStatements" style="position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7); z-index: 2; ">
  <div id="statements" style="padding-top: 10px; ">
    <span style="font-weight: bold; float: left; position: relative; margin-left: 19px; margin-top: 14px; ">Statement: </span>
    <span style="font-weight: normal; float: left; position: relative; margin-left: 19px; margin-top: 14px; "> "{{basicUnit_statement}} &nbsp;&nbsp;</span>
    <div class="resource_input" style="position: relative; margin-top: 0px; margin-right: 5px; padding: 0px 0px 5px 0px; height: auto;">
      {% include 'single_resource.html' %}
    </div><span style="font-weight: normal; float: left; position: relative; margin-left: 0px; margin-top: 14px; ">."</span>

    <button onclick="off{{id  | replace('-', '_')}}_Statements()" style="height: 20px; font-size: 12px; padding-left: 3px; font-style: bold; color: white; width: 20px; border-radius: 4px 4px 4px 4px; border-color: #7F869B;  cursor: pointer; background: #7F869B; margin-top: -10px; float: right; font-weight: bold; " class="btn btn-primary">X</button>

    <br>
    <br>
    <br>


    <span style="font-weight: bold; float: left; font-weight: bold; font-style: normal; position: relative; margin-left: 20px; margin-top: 25px; ">The statement has the following certainty/confidence: &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;</span>  <br>
    <form action="/certainty" method="POST">
      <div style="font-weight: normal; display: inline-block; float:left; margin-top: 35px; margin-left: 130px; ">
        <label class="container" style="font-weight: normal;">certain &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <input type="radio"  name="{{ id }}_certainty" value="certain" style="margin-top: 57px">
          <span class="checkmark"></span></label><label class="container" style="font-weight: normal;">likely &nbsp; &nbsp; &nbsp; &nbsp;
          <input type="radio" name="{{ id }}_certainty" value="likely">
          <span class="checkmark"></span></label><label class="container" style="font-weight: normal;">uncertain &nbsp; &nbsp; &nbsp; &nbsp;
          <input type="radio" name="{{ id }}_certainty" value="uncertain">
          <span class="checkmark"></span></label><label class="container" style="font-weight: normal;">not specified &nbsp; &nbsp; &nbsp; &nbsp;
          <input type="radio" name="{{ id }}_certainty" value="not specified">
          <span class="checkmark"></span></label>
      </div>
      <input class="simpleDescriptionUnit_resource" type="hidden" name="{{ id }}_basicUnit_uri" value="{{ id }}"></input>
      <button onclick="off{{id  | replace('-', '_')}}_Statements()" id="{{id  | replace('-', '_')}}_certainty" href="#" name="button" style="height: 30px; padding-top: 3px; margin-right: 20px; float: right; margin-top: 80px;" type="submit" class="btn btn-primary" aria-label="Search for a class"><i aria-hidden='true' style="font-size: 12px;" class='fas fa-lg'></i> save
      </button>
      <input type="hidden" name="{{ id }}_simpleDescriptionUnit_uri" value=None />
      <input type="hidden" name="{{ id }}_entry_uri" value="{{ entry_id }}"/>
      <input type="hidden" name="input_name" id="input_name{{ id }}" value="{{ id }}"/>
    </form>
  </div>
</div>
