<script>
  function on{{statementUnit_child.get('id')  | replace('-', '_')}}_{{end_component2}}_1() {
    document.getElementById("{{statementUnit_child.get('id')  | replace('-', '_')}}_{{end_component2}}_1").style.display = "block";
  }

  function off{{statementUnit_child.get('id')  | replace('-', '_')}}_{{end_component2}}_1() {
    document.getElementById("{{statementUnit_child.get('id')  | replace('-', '_')}}_{{end_component2}}_1").style.display = "none";
  }
</script>

<script type=text/javascript>
  $(function() {
      $('button#{{statementUnit_child.get('id')  | replace('-', '_')}}').bind('click', function() {
          $.ajax({
              url: $SCRIPT_ROOT + '/user_input',
              type: "post",
              data: {
                  input_name: $('input[name="input_name"]').val()
                }
          });
      });
  });
</script>

<div class="datum" style="margin-top:-5px; margin-bottom:16px; margin-right:234px; margin-left: 6px; position: inherit;">
  <form action="/itemUnit" method="POST">
    <div class="resource_input" style="position: relative;">
      <input class="itemUnit_resource" type="submit" name="itemUnit_uri" value="{{ statementUnit_child.get('id') }}"></input>
      <img class="item_icon" src="{{url_for('static', filename='StatementUnit_ICON_small.png')}}" alt="entry icon" style="padding-right: 4px; padding-top: 2px; ">
      <span class="tooltip_itemUnit" style="color: black; font-style: normal;">{{statementUnit_child.get(value1_link).get('input_nodes')[0].get('value')}} &nbsp;<span> <span style="margin-left: 1px; font-weight: normal; margin-top: 5px">({{ end_label2 }}{{ statementUnit_child.get(value2_link).get('input_nodes')[0].get('value') }}-{{ statementUnit_child.get(value3_link).get('input_nodes')[0].get('value') }})<span class="tooltip-text_itemUnit"></span></span>
    </div>
  </form>
  <form action="/delete_input"method="POST">
    <input class="resource_input_delete_btn" type="submit" name="delete_statementUnit" value="X"></input>
    <input type="hidden" name="delete_statementUnit_uri" value="{{[statementUnit.get('id'), statementUnit_child.get('id')] }}"></input>
  </form>
  <button onclick="on{{statementUnit_child.get('id')  | replace('-', '_')}}_{{end_component2}}_1()" class='fas'>&#xf044;</button>
</div>







<div id="{{statementUnit_child.get('id')  | replace('-', '_')}}_{{end_component2}}_1" style="position: fixed; display: none; width: 100%; height: 100%; top:0 ; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7); z-index: 2; cursor: pointer; ">
  <div class="datum" style="margin-top: 300px; margin-left: 450px; float:left">
    <form action="/user_input" accept-charset="UTF-8" style="margin-top:-4px; display:flex; width:600px;" method="POST">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="text" style="height: 30px; margin-right: 4px;" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_value" size="7" placeholder="{{ end_container_node2.get('placeholder_text_1') }}" /><span style="margin-left: 1px; color: white; margin-top: 5px">{{ end_label2 }}&nbsp;</span>
      <input type="text" style="height: 30px; margin-right: 4px;" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_value1" size="7" placeholder="{{ end_container_node2.get('placeholder_text_2') }}" />
      <input type="text" style="height: 30px; margin-right: 4px;" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_value2" size="7" placeholder="{{ end_container_node2.get('placeholder_text_3') }}" />
      <div class='input-group-append'>
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_parent_uri" value="{{ statementUnit.get('id') }}">
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_parent_item_type" value="{{ statementUnit.get('node_type') }}">
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_entry_uri" value="{{ entry_dict[0].get('id') }}">
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_itemUnit_uri" value="{{ itemUnit_uri }}">
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_statementUnit_uri" value="{{ statementUnit_child.get('id') }}">
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_kgbb_uri" value="{{ end_container_node2.get('target_KGBB_URI') }}">
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_input_result" value="{{ end_container_node2.get('edit_results_in') }}">
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_query_key" value="{{ end_container_node2.get('edit_cypher_key') }}">
        <input type="hidden" name="{{statementUnit_child.get('id')  | replace('-', '_')}}_deleted_item_uri" value="{{ statementUnit_child.get('id') }}">
        <button onclick="off{{statementUnit_child.get('id')  | replace('-', '_')}}_{{end_component2}}_1()" id="{{statementUnit_child.get('id')  | replace('-', '_')}}" name="button" style="height: 30px; padding-top: 3px;" type="submit" class="btn btn-primary" aria-label="Search for a class"><i aria-hidden='true' style="font-size: 12px;" class='fas fa-lg'></i> edit
        </button>
        <input type="hidden" name="input_name" value="{{statementUnit_child.get('id')  | replace('-', '_')}}"/>
      </div>
    </form>
  </div>
  <button onclick="off{{statementUnit_child.get('id')  | replace('-', '_')}}_{{end_component2}}_1()" style="height: 20px; font-size: 12px; padding-left: 3px; font-style: bold; color: white; width: 20px; border-radius: 4px 4px 4px 4px; border-color: #7F869B;  background: #7F869B; margin-left: 776px; margin-top: -60px; float: left; font-weight: bold; " type="submit" class="btn btn-primary">X</button>
</div>
