
<script>
  function draw() {
    var config = {
        container_id:"viz",
        server_url:"bolt://localhost:7687",
        server_user:"python",
        server_password:"useCaseKGBB",
        labels: {

        },
        relationships: {

        },
        initial_cypher:"MATCH (n {URI:'8556cb07-6b2d-422f-962c-b297d90f186d'}) MATCH (n)-[r*]->(m {entry_URI:'8556cb07-6b2d-422f-962c-b297d90f186d'}) RETURN n, m, r"

    }

    var viz = new NeoVis.default(config);
    viz.render();
  }
</script>
