<div id="history">
  <div class="history_display">
    <div class="data_row" style="font-size: 20px; margin: 20px 0px 10px 0px;">
      Editing History:
    </div>
    <button onclick="offhist()" style="height: 20px; font-size: 12px; padding-left: 3px; font-style: bold; color: white; width: 20px; border-radius: 4px 4px 4px 4px; border-color: #7F869B;  cursor: pointer; background: #7F869B; margin-top: 0px; float: right; font-weight: bold; " type="submit" class="btn btn-primary">X</button>
    <span id=edit_history></span>
  </div>
</div>

{% if edit_history_length  %}
<div class="list_item" style="width:97%; padding-bottom: 40px">
  <table id="history_table" cellpadding="0" cellspacing="0" >
    <tr style="background-color: #E9EAF1;">
      <th width="20%" height="30">last updated on</th>
      <th width="15%" height="30">name of resource</th>
      <th width="15%" height="30">editing user</th>
      <th width="10%" height="30">part of current version</th>
      <th width="20%" height="30">created on</th>
      <th width="20%" height="30">uuid of resource</th>
    </tr>
    {% for i in edit_history  %}
      <tr>
        <th width="20%" height="30">{{ i[0] }}</th>
        <th width="15%" height="30">{{ i[1] }}</th>
        <th width="15%" height="30">{{ i[2] }}</th>
        <th width="10%" height="30">{{ i[3] }}</th>
        <th width="20%" height="30">{{ i[4] }}</th>
        <th width="20%" height="30">{{ i[5] }}</th>
      </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
