<html>
<head>
  <title>KGBB Use Case: LOBBY</title>
  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/standard.css')}}>
</head>
<body>

  <div class="header">
    <h4>KGBB Use Case - Lobby</h4>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash_message_container">
          <div id="hideMe">
            {% for category, message in messages %}
              <p class="{{ category  }}">
                {{ message }}
              </p>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}
  </div>
  </br>

  <h3 align="center" style="margin-top: 100px; font-size: 40px; font-style: normal">Select an action</h3>

  <div class="buttons" align="center" style="width:100%">

    {% if initiated == "True" and pubEntry == "True" %}
      <form action="/lobby" method="POST">
        <input class="btn1" align="left" type="submit" name="button_action" value="delete graph">
        <input class="btn3" align="right" type="submit" name="button_action" value="search page">
        <input class="btn3" align="right" type="submit" name="button_action" value="view entry list">
        <br/>
        <br/>
        <br/>
        <h4 style="font-size: 30px; font-style: normal">Add new publication</h4>
        <br/>
        <nobr>
          DOI:
          <input type="text" name="publication_DOI"><input class="btn2" type="submit" name="button_action" value="add publication">
        </nobr>
      </form>
    {% elif initiated == "True" and pubEntry == "False" %}
      <form action="/lobby" method="POST">
        <input class="btn1" align="left" type="submit" name="button_action" value="delete graph">
        <br/>
        <br/>
        <br/>
        <h4>Add new publication</h4>
        <br/>
        <nobr>
          DOI:
          <input type="text" name="publication_DOI"><input class="btn2" type="submit" name="button_action" value="add publication">
        </nobr>
      </form>
    {% else %}
      <form action="/lobby" method="POST">
        <input class="btn3" align="left" type="submit" name="button_action" value="initiate graph">
      </form>
    {% endif %}


  </div>

</body>
</html>
