<div id="{{id  | replace('-', '')}}overlayMeta" style="position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7); z-index: 2; ">
  <div id="meta" style="height: max-content; padding-bottom: 30px;">
    <button onclick="off{{id  | replace('-', '')}}_Meta()" style="height: 20px; font-size: 12px; padding-left: 3px; font-style: bold; color: white; width: 20px; border-radius: 4px 4px 4px 4px; border-color: #7F869B;  cursor: pointer; background: #7F869B; margin-top: 0px; float: right; font-weight: bold; " class="btn btn-primary">X</button>
    <span style="font-weight: bold; float: left; margin-left: 30px; margin-top: 20px; ">{{ data_item_type }} Metadata:</span>
    <div class="metadata" style="float: left; width: 90%; margin-left: 30px; margin-top: 15px; ">
      <div class="label" style="display: inline-block; vertical-align: top; ">creator: </div>
      <div class="value" style="display: inline-block; padding-left: 130px; ">{{node.get('created_by')}} </div>
    </div>
    <div class="metadata" style="float: left; width: 90%; margin-left: 30px; margin-top: 15px; ">
      <div class="label" style="display: inline-block; vertical-align: top; ">contributors: </div>
      <div class="value" style="display: inline-block; padding-left: 190px; margin-top: -20px; ">{{node.get('contributed_by')}} </div>
    </div>
    <div class="metadata" style="float: left; width: 90%; margin-left: 30px; margin-top: 15px; ">
      <div class="label" style="display: inline-block; vertical-align: top; ">created on: </div>
      <div class="value" style="display: inline-block; padding-left: 102px; max-width: 34ch;  ">{{node.get('created_on')}} </div>
    </div>
    <div class="metadata" style="float: left; width: 90%; margin-left: 30px; margin-top: 15px; ">
      <div class="label" style="display: inline-block; vertical-align: top; ">last updated on: </div>
      <div class="value" style="display: inline-block; padding-left: 66px; max-width: 34ch;  ">{{node.get('last_updated_on')}} </div>
    </div>
    <div class="metadata" style="float: left; width: 90%; margin-left: 30px; margin-top: 15px; ">
      <div class="label" style="display: inline-block; vertical-align: top; ">{{ data_item_type }} URI: </div>
      <div class="value" style="display: inline-block; padding-left: 111px; max-width: 34ch;  ">{{id}} </div>
    </div>
    <div class="metadata" style="float: left; width: 90%; margin-left: 30px; margin-top: 15px; ">
      <div class="label" style="display: inline-block; vertical-align: top; ">type URI: </div>
      <div class="value" style="display: inline-block; padding-left: 115px; max-width: 34ch;  ">{{node.get('type')}} </div>
    </div>
    <div class="metadata" style="float: left; width: 90%; margin-left: 30px; margin-top: 15px; ">
      <div class="label" style="display: inline-block; vertical-align: top;">type description: </div>
      <div class="value" style="display: inline-block; padding-left: 60px; max-width: 34ch;  ">{{node.get('description')}} </div>
    </div>
  </div>
</div>
