{% set id = child.get('id') %}
{% set entry_id = entry_dict[0].get('id') %}
{% set assertion_uri =  None %}
{% set resource_node = child.get('object') %}
{% set resource_input_info = child.get('research_method_topic_input_info') %}
{% set parent_id = child.get('parent') %}
{% set instance_label_edit =  True %}
{% set TOPIC_uri =  child.get('id') %}
{% set input_representation = "single_resource.html" %}
{% for parent in entry_dict if parent.get('id') == parent_id %}
  {% set parent_type = parent.get('node_type') %}
  {% include "topic_header_resource.html" %}
{% endfor %}

<br><br><br><br><br>


{% for child in entry_dict %}

  {% if child.get('component') == "research_method_topic" and child.get('parent') == topic_uri %}
    {% set component = "research_method_topic" %}
    {% set label = "method has step:" %}
    {% set statement = "Method has step:" %}
    {% set id = child.get('id') %}
    {% set parent_id = topic_uri %}
    {% set parent_type = child.get('node_type') %}
    {% set parent_uri = topic_uri %}
    {% set parent_uri_label = "topic_uri" %}
    {% set TOPIC_uri =  child.get('id') %}
    {% set assertion_uri =  None %}
    {% set instance_label_edit =  True %}
    {% set entry_id = entry_dict[0].get('id') %}
    {% set resource_input_info = child.get('research_method_topic_input_info') %}
    {% set node = child.get('node') %}
    {% set resource_node = child.get('object') %}
    {% set input_representation = "single_resource.html" %}
    {% include  "single_resource_input_topic.html" %}
  {% endif %}

{% endfor %}

{% if not entry_dict[0].get('version') %}
  {% set component = "research_method_topic" %}
  {% set resource_label = "method has step:" %}
  {% set assertion_uri = None %}
  {% set parent_id = topic_uri %}
  {% set TOPIC_uri =  None %}
  {% set parent_type = child.get('node_type') %}
  {% set entry_id = entry_dict[0].get('id') %}
  {% set resource_input_info = child.get('research_method_topic_input_info') %}
  {% include  "single_resource_input_container.html" %}
{% endif %}





{% for child in entry_dict %}

  {% if child.get('component') == "research_objective_topic" and child.get('parent') == topic_uri %}
    {% set component = "research_objective_topic" %}
    {% set label = "includes objective:" %}
    {% set statement = "Research method has objective:" %}
    {% set id = child.get('id') %}
    {% set parent_id = topic_uri %}
    {% set parent_type = child.get('node_type') %}
    {% set parent_uri = topic_uri %}
    {% set instance_label_edit =  True %}
    {% set parent_uri_label = "topic_uri" %}
    {% set TOPIC_uri =  child.get('id') %}
    {% set assertion_uri =  None %}
    {% set entry_id = entry_dict[0].get('id') %}
    {% set resource_input_info = child.get('research_objective_topic_input_info') %}
    {% set node = child.get('node') %}
    {% set resource_node = child.get('object') %}
    {% set input_representation = "single_resource.html" %}
    {% include  "single_resource_input_topic.html" %}
  {% endif %}

{% endfor %}

{% if not entry_dict[0].get('version') %}
  {% set component = "research_objective_topic" %}
  {% set resource_label = "includes objective:" %}
  {% set assertion_uri = None %}
  {% set parent_id = topic_uri %}
  {% set TOPIC_uri =  None %}
  {% set parent_type = child.get('node_type') %}
  {% set entry_id = entry_dict[0].get('id') %}
  {% set resource_input_info = child.get('research_objective_topic_input_info') %}
  {% include  "single_resource_input_container.html" %}
{% endif %}





{% for child in entry_dict %}

  {% if child.get('component') == "research_activity_topic" and child.get('parent') == topic_uri %}
    {% set component = "research_activity_topic" %}
    {% set label = "method realized in research step:" %}
    {% set statement = "Method realized in research step:" %}
    {% set id = child.get('id') %}
    {% set instance_label_edit =  True %}
    {% set parent_id = topic_uri %}
    {% set parent_type = child.get('node_type') %}
    {% set parent_uri = topic_uri %}
    {% set parent_uri_label = "topic_uri" %}
    {% set TOPIC_uri =  child.get('id') %}
    {% set assertion_uri =  None %}
    {% set entry_id = entry_dict[0].get('id') %}
    {% set resource_input_info = child.get('research_step_topic_input_info') %}
    {% set node = child.get('node') %}
    {% set resource_node = child.get('object') %}
    {% set input_representation = "single_resource.html" %}
    {% include  "single_resource_input_topic.html" %}
  {% endif %}

{% endfor %}

{% if not entry_dict[0].get('version') %}
  {% set component = "research_activity_topic" %}
  {% set resource_label = "method realized in research step:" %}
  {% set assertion_uri = None %}
  {% set parent_id = topic_uri %}
  {% set TOPIC_uri =  None %}
  {% set parent_type = child.get('node_type') %}
  {% set entry_id = entry_dict[0].get('id') %}
  {% set resource_input_info = child.get('research_step_topic_input_info') %}
  {% include  "single_resource_input_container.html" %}
{% endif %}








{% include  'history.html'  %}
