<html>


<head>
  <title>KGBB Use Case: SEARCH ITEM_UNIT</title>
  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/standard.css')}}>
  <link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/font-awesome-4.7.0/css/font-awesome.min.css')}}>
</head>
<body>
<div class="header">
  <h4>Search ItemUnit</h4>
</div>


<div class="data_row" style="font-size: 20px; margin: 20px 0px 20px 70px;">By ItemUnit Unit Class (WIP - only working for "orkg material entity itemUnit" when itemUnit units of this type present in the graph):</div>
  <div class="list_header" style="margin-top: 0px;">
    <table id="header_table">
      <tr>
        <th width="200" height="30">name</th>
        <th width="auto" height="30">description</th>
      </tr>
    </table>
  </div>
  <div class="list_container">
    {% for itemUnit_class in itemUnit_class_list  %}
      <div class="list_item">
        <form action="/search" method="POST">
          <input class="entry_row" type="submit" name="itemUnit_class_uri" value="{{ itemUnit_class.get('URI') }}">
          <table id="entry_table" cellpadding="0" cellspacing="0" >
            <tr>
              <th width="200" height="auto" style="font-size: 13px; padding: 3px 0px 3px 0px; ">{{ itemUnit_class.get('name') }}</th>
              <th width="auto" height="auto" style="font-size: 13px; padding: 3px 0px 3px 0px; ">{{ itemUnit_class.get('description') }}</th>
            </tr>
          </table>
        </form>
      </div>
    {% endfor %}
  </div>


  <div class="data_row" style="color: red; font-size: 20px; margin: 20px 0px 20px 70px;">WIP - currently not functional<span style="color: #B9BCCB">  By Ontology Class</span></div>

  <div class="list_header" style="margin-top: 0px;">
    <table id="header_table">
      <tr>
        <th width="200" height="30">name</th>
        <th width="auto" height="30">description</th>
      </tr>
    </table>
  </div>
  <div class="list_container">
    {% for onto_class in ontology_class_list  %}
      <div class="list_item">
        <form action="/search" method="POST">
          <input class="entry_row" type="submit" name="onto_class_uri" value="{{ onto_class.get('URI') }}">
          <table id="entry_table" cellpadding="0" cellspacing="0" >
            <tr>
              <th width="200" height="auto" style="font-size: 13px; padding: 3px 0px 3px 0px; ">{{ onto_class.get('name') }}</th>
              <th width="auto" height="auto" style="font-size: 13px; padding: 3px 0px 3px 0px; ">{{ onto_class.get('description') }}</th>
            </tr>
          </table>
        </form>
      </div>
    {% endfor %}
  </div>



  <div class="data_row" style="color: red; font-size: 20px; margin: 20px 0px 20px 70px;">WIP - currently not functional<span style="color: #B9BCCB">  By StatementUnit Unit Class</span></div>
    <div class="list_header" style="margin-top: 0px;">
      <table id="header_table">
        <tr>
          <th width="200" height="30">name</th>
          <th width="auto" height="30">description</th>
        </tr>
      </table>
    </div>
    <div class="list_container">
      {% for statementUnit_class in statementUnit_class_list  %}
        <div class="list_item">
          <form action="/search" method="POST">
            <input class="entry_row" type="submit" name="statementUnit_class_uri" value="{{ statementUnit_class.get('URI') }}">
            <table id="entry_table" cellpadding="0" cellspacing="0" >
              <tr>
                <th width="200" height="auto" style="font-size: 13px; padding: 3px 0px 3px 0px; ">{{ statementUnit_class.get('name') }}</th>
                <th width="auto" height="auto" style="font-size: 13px; padding: 3px 0px 3px 0px; ">{{ statementUnit_class.get('description') }}</th>
              </tr>
            </table>
          </form>
        </div>
      {% endfor %}
    </div>






      <div class="data_row" style="color: red; font-size: 20px; margin: 20px 0px 20px 70px;">WIP - currently not functional<span style="color: #B9BCCB">  By Entry Unit Class</span></div>
        <div class="list_header" style="margin-top: 0px;">
          <table id="header_table">
            <tr>
              <th width="200" height="30">name</th>
              <th width="auto" height="30">description</th>
            </tr>
          </table>
        </div>
        <div class="list_container">
          {% for entry_class in itemUnit_class_list  %}
            <div class="list_item">
              <form action="/search" method="POST">
                <input class="entry_row" type="submit" name="entry_class_uri" value="{{ entry_class.get('URI') }}">
                <table id="entry_table" cellpadding="0" cellspacing="0" >
                  <tr>
                    <th width="200" height="auto" style="font-size: 13px; padding: 3px 0px 3px 0px; ">{{ entry_class.get('name') }}</th>
                    <th width="auto" height="auto" style="font-size: 13px; padding: 3px 0px 3px 0px; ">{{ entry_class.get('description') }}</th>
                  </tr>
                </table>
              </form>
            </div>
          {% endfor %}
        </div>





  <form action="/lobby" method="POST">
    <div class="bottom" style="margin-top: 0px;">
      <input class="return_button" style="margin-right: 0px; margin-top: 0px" align="center" type="submit" name="button_action" value="Return to Lobby">
    </div>
  </form>
</body>
