{% for assertion in entry_dict %}
  {% if assertion.get('component') == start_component and assertion.get('parent') == topic_uri %}

    <script>
      function on{{assertion.get('id')  | replace('-', '_')}}_{{start_component}}_1() {
        document.getElementById("{{assertion.get('id')  | replace('-', '_')}}_{{start_component}}_1").style.display = "block";
      }

      function off{{assertion.get('id')  | replace('-', '_')}}_{{start_component}}_1() {
        document.getElementById("{{assertion.get('id')  | replace('-', '_')}}_{{start_component}}_1").style.display = "none";
      }
    </script>

    <script type=text/javascript>
      $(function() {
          $('button#{{assertion.get('id')  | replace('-', '_')}}').bind('click', function() {
              $.ajax({
                  url: $SCRIPT_ROOT + '/user_input',
                  type: "post",
                  data: {
                      input_name: $('input[name="input_name"]').val()
                    }
              });
          });
      });
    </script>

  {% endif %}
{% endfor %}





{% for assertion in entry_dict %}
  {% if assertion.get('component') == start_component and assertion.get('parent') == topic_uri %}
    {% set end_container_node = assertion.get(key) %}
    {% set end_container_node2 = assertion.get(key2) %}

    <div class="datum" style="margin-top:-4px; margin-bottom:16px">
      <form action="/topic" method="POST">
        <div class="resource_input" style="position: relative;">
          <input class="topic_resource" type="submit" name="topic_uri" value="{{ assertion.get('id') }}"></input>
          <img class="item_icon" src="{{url_for('static', filename='Assertion_ICON_small.png')}}" alt="entry icon" style="padding-right: 4px; padding-top: 2px; ">
          <span class="tooltip_topic" style="color: black; font-style: normal;">{{ assertion.get('object').get('name') }}<span class="tooltip-text_topic">{{ assertion.get('object').get('description') }}</span></span>
          <span class="resource_assertion_ontology_id">{{ assertion.get('object').get('ontology_ID') }}</span>
        </div>
      </form>
      <form action="/delete_input"method="POST">
        <input class="resource_input_delete_btn" type="submit" name="delete_assertion" value="X"></input>
        <input type="hidden" name="delete_assertion_uri" value="{{[topic_uri, assertion.get('id')] }}"></input>
      </form>
      <button onclick="on{{assertion.get('id')  | replace('-', '_')}}_{{start_component}}_1()" class='fas'>&#xf044;</button>

    {% if assertion.get('object').get('type') == start_type1 %}
      {% set assertion_uri = assertion.get('id') %}
      {% include end_countainer_html ignore missing %}
    {% endif %}
    {% if assertion.get('object').get('type') == start_type2 %}
      {% set assertion2_uri = assertion.get('id') %}
      {% include end_countainer2_html ignore missing %}
    {% endif %}

    </div>


    <div id="{{assertion.get('id')  | replace('-', '_')}}_{{start_component}}_1" style="position: fixed; display: none; width: 100%; height: 100%; top:0 ; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7); z-index: 2; cursor: pointer; ">
      <div class="datum" style="margin-top: 300px; margin-left: 450px; float:left">
        <form action="/user_input" accept-charset="UTF-8" style="margin-top:-4px; display:flex; width:600px;" method="POST">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="text" style="height: 30px; " name="{{assertion.get('id')  | replace('-', '_')}}" id="query"  data-bp_include_definitions="true" data-bp_search_branch="{{ start_container_node.get('input_restricted_to_subclasses_of') }}" class="bp_form_complete-{{ start_container_node.get('ontology_ID') }}-name" size="40" placeholder="{{ start_container_node.get('placeholder_text') }}" />
          <div class='input-group-append'>
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_parent_uri" value="{{ topic_uri }}">
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_parent_item_type" value="{{ topic_node.get('node_type') }}">
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_entry_uri" value="{{ entry_dict[0].get('id') }}">
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_topic_uri" value="{{ topic_uri }}">
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_assertion_uri" value="{{ assertion.get('id') }}">
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_kgbb_uri" value="{{ start_container_node.get('target_KGBB_URI') }}">
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_input_result" value="{{ start_container_node.get('edit_results_in') }}">
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_query_key" value="{{ start_container_node.get('edit_cypher_key') }}">
            <input type="hidden" name="{{assertion.get('id')  | replace('-', '_')}}_deleted_item_uri" value="{{ assertion.get('id') }}">
            <button onclick="off{{assertion.get('id')  | replace('-', '_')}}_{{start_component}}_1()" id="{{assertion.get('id')  | replace('-', '_')}}" name="button" style="height: 30px; padding-top: 3px;" type="submit" class="btn btn-primary" aria-label="Search for a class"><i aria-hidden='true' style="font-size: 12px;" class='fas fa-lg'></i> edit
            </button>
            <input type="hidden" name="input_name" value="{{assertion.get('id')  | replace('-', '_')}}"/>
          </div>
        </form>
      </div>
      <button onclick="off{{assertion.get('id')  | replace('-', '_')}}_{{start_component}}_1()" style="height: 20px; font-size: 12px; padding-left: 3px; font-style: bold; color: white; width: 20px; border-radius: 4px 4px 4px 4px; border-color: #7F869B;  background: #7F869B; margin-left: 776px; margin-top: -60px; float: left; font-weight: bold; " type="submit" class="btn btn-primary">X</button>
    </div>
  {% endif %}
{% endfor %}
