<script type=text/javascript>
$(function() {
    $('button#{{data_item  | replace('-', '')}}_input').bind('click', function() {
        $.ajax({
            url: $SCRIPT_ROOT + '/_safeVersion',
            type: "get",
            data: {
                version_data: $('input[name="{{data_item  | replace('-', '')}}_uri"]').val(),
                type: $('input[name="{{data_item  | replace('-', '')}}_type"]').val()
            },
            success: function(data) {
                $("#versions_dict").html(data);
            }

        });
    });
});
</script>




<div id="{{data_item | replace('-', '')}}_overlayVersion" style="position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7); z-index: 2; ">
  <div class="version_display" style="width: 1350px; ">
    <div class="data_row" style="font-size: 20px; margin: 20px 0px 10px 0px;">
      Version of {{ type }}
    </div>
    <button onclick="off{{data_item  | replace('-', '')}}_Version()" style="height: 20px; font-size: 12px; padding-left: 3px; font-style: bold; color: white; width: 20px; border-radius: 4px 4px 4px 4px; border-color: #7F869B;  cursor: pointer; background: #7F869B; margin-top: 0px; float: right; font-weight: bold; " class="btn btn-primary">X</button>
    <button style="float:right; margin: 22px 0px 0px -72px; color: white; border-radius: 5px;
    background-color: #239096; position: fixed; border: solid 1px #239096; cursor: pointer; padding: 3px; font-size: 14px; font-weight:bold; z-index:6 ;" id="{{data_item  | replace('-', '')}}_input">Save new version for current {{ type }}</button>
    <input type="hidden" name="{{data_item  | replace('-', '')}}_uri" value="{{ data_item }}"/>
    <input type="hidden" name="{{data_item  | replace('-', '')}}_type" value="{{ type }}"/>

    <span id="versions_dict"></span>

  </div>
</div>





{% if versions_dict == None %}
  <div style="float: left; margin-left: 175px; margin-top: -36px; font-size:20px">No versions exist yet.</div>
{% endif %}

{% if versions_dict_length  %}
  <span style="display: inline-block; margin: -53px 0px 0px 240px; position: inherit;">(URI: {{ versions_dict.get('current_version').get('version_of') }}) </span>
  <div class="list_item" style="width:97%">
    <table id="history_table" cellpadding="0" cellspacing="0" >
      <tr style="background-color: #E9EAF1;">
        <th style="width: 420px;">version ID</th>
        <th style="width: 300px;">creator</th>
        <th style="width: 420px;">created on</th>
        <th style="width: 90px;">version number</th>
        <th>latest version</th>
      </tr>
    </table>
  </div>
    <div class="list_item" style="width:97%; padding-bottom: 40px">
      <table id="entry_table" cellpadding="0" cellspacing="0" >

        <script type=text/javascript>
          $(function() {
              $('tr#{{versions_dict.get('current_version').get('versioned_doi')  | replace('-', '_')}}_current').bind('click', function() {
                $("#form1_{{versions_dict.get('current_version').get('versioned_doi')  | replace('-', '_')}}").submit();
              });
          });
        </script>

        <tr onclick="off{{versions_dict.get('current_version').get('version_of')  | replace('-', '')}}_Version()"  id="{{versions_dict.get('current_version').get('versioned_doi')  | replace('-', '_')}}_current" href="#" type="submit">
          <th style="width: 420px;">
            <form id="form1_{{versions_dict.get('current_version').get('versioned_doi')  | replace('-', '_')}}" action="/version" method="POST">
              <input type="hidden" name="current_version_uri" id="current_version_uri{{ versions_dict.get('current_version').get('versioned_doi') | replace('-', '_')}}" value="{{ versions_dict.get('current_version').get('versioned_doi') }}" />
              </form>
            {{ versions_dict.get('current_version').get('versioned_doi') }}</th>
          <th style="width: 300px;">{{ versions_dict.get('current_version').get('created_by') }}</th>
          <th style="width: 420px;">{{ versions_dict.get('current_version').get('created_on') }}</th>
          <th style="width: 90px;">{{ versions_dict.get('current_version').get('version') }}</th>
          <th>true</th>

      </tr>
        {% if versions_dict_length > 1  %}
          {% for past_version in versions_dict.get('past_versions')  %}
            <script type=text/javascript>
              $(function() {
                  $('tr#{{past_version.get('versioned_doi')  | replace('-', '_')}}_version').bind('click', function() {
                    console.log("test")
                    $("#form_{{past_version.get('versioned_doi')  | replace('-', '_')}}").submit();
                  });
              });
            </script>

            <tr  id="{{past_version.get('versioned_doi')  | replace('-', '_')}}_version" href="#">
              <th style="width: 420px;">
                <form id="form_{{past_version.get('versioned_doi')  | replace('-', '_')}}" action="/version" method="POST">
                  <input type="hidden" name="version_uri" id="version_uri{{ past_version.get('versioned_doi') | replace('-', '_')}}" value="{{ past_version.get('versioned_doi') }}" />
                  </form>{{ past_version.get('versioned_doi') }}</th>
              <th style="width: 300px;">{{ past_version.get('created_by') }}</th>
              <th style="width: 420px;">{{ past_version.get('created_on') }}</th>
              <th style="width: 90px;">{{ past_version.get('version') }}</th>
              <th>false</th>

          </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>
{% endif %}
